@import '../../../assets/css/colors';
@import '../../../assets/css/mixin';
@import '../../../assets/css/sizes';

$card-max-width: 370px;
$card-text-padding: 55px 20px 30px;
$card-icon-size: 65px;
$card-icon-left-space: 20px;
$card-icon-top-space: 25px;
$card-list-item-height: 20px;
$card-list-item-icon-space: 35px;
$card-list-padding: 20px 0 30px;
$card-btn-border: solid 1px $blue;
$card-btn-border-radius: 5px;

.card-content {
  max-width: $card-max-width;
  background-color: $white;
  @include box-shadow();
  border-radius: $size-5;

  figure {
    margin: 0;
  }

  figcaption {
  }

  .card-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: $size-5 $size-5 0 0;
  }

  .card-paragraph {
    margin: 0;
  }

  .card-text {
    position: relative;
    padding: $card-text-padding;
  }

  .card-text:before {
    content: '';
    display: block;
    width: $card-icon-size;
    height: $card-icon-size;
    position: absolute;
    z-index: 1;
    top: -$card-icon-top-space;
    left: $card-icon-left-space;
    background: url('../../../assets/img/icon-home.svg') no-repeat center, $white;
    border-radius: 50%;
    @include box-shadow();
  }

  .card-title {
    margin: 0 0 $size-15;
  }

  .card-list {
    margin: 0;
    padding: $card-list-padding;

    li {
      display: block;
      height: $card-list-item-height;
      background: url('../../../assets/img/icon-card.svg') no-repeat left center;
      padding-left: $card-list-item-icon-space;
      color: $gray;

      + li {
        margin-top: $size-20;
      }
    }
  }

  .card-btn {
    width: 100%;
    background: $white;
    color: $blue;
    border: $card-btn-border;
    padding: $size-15;
    font-weight: 700;
    border-radius: $card-btn-border-radius;
  }
}
