<div class='card-content'>
  <figure>
    <img class='card-img' ngSrc='assets/img/image.jpg' height='400' width='740'>
    <figcaption class='card-text'>
      <h3 class='card-title'>lorem ipsum dolor</h3>
      <p>Quis mollis nisl nunc et massa vestibulum sed metus in lorem tristique</p>
      <ul class='card-list'>
        <li>Lorem ipsum dolo sit ultrice</li>
        <li>Lorem ipsum dolo sit ultrice</li>
      </ul>
      <button class='card-btn'>lo quiero ya</button>
    </figcaption>
  </figure>
</div>
