<div class='wizard'>
  <div *ngIf='wizardService.currentStep === WizardStepList.Step1'>
    <div @stepAnim>
      <app-options-list [optionsList]='wizardService.wizardData.optionsList'></app-options-list>
    </div>
  </div>
  <div *ngIf='wizardService.currentStep === WizardStepList.Step2'>
    <div @stepAnim>
      <app-email-form [emailForm]='wizardService.wizardData.formBody.email'></app-email-form>
    </div>
  </div>
  <div *ngIf='wizardService.currentStep === WizardStepList.Step3'>
    <div @stepAnim>
      <app-success-form></app-success-form>
    </div>
  </div>
  <div *ngIf='wizardService.currentStep === WizardStepList.Error'>
    <div @stepAnim>
      <app-error-form></app-error-form>
    </div>
  </div>
</div>
