<div class='email-form-content wizard-field-content'>
  <h1 class='wizard-field-title'>Para terminar completá el siguiente formulario.</h1>
  <div class='email-form'>
    <div class='field-group'>
      <label class='field-label' for='email'>Correo electrónico</label>
      <input [formControl]='emailForm' class='field-input' id='email' type='email' [ngClass]='{ "field-has-error": emailForm.hasError("email")}'>
      <span *ngIf='emailForm.hasError("email")' class='field-error'>Por favor, ingresá un correo eléctronico valido</span>
    </div>
  </div>
  <div class='btn-content btn-to-right'>
    <button (click)='onSubmit()' [disabled]='emailForm.hasError("email")' class='btn btn-option-list'>
      Enviar
    </button>
  </div>
</div>
