<div class='email-form-content wizard-field-content'>
  <h1 class='wizard-field-title'>Para terminar completá el siguiente formulario.</h1>
  <div class='email-form'>
    <div class='field-group'>
      <label for='email' class='field-label'>Correo electrónico</label>
      <input type='email' id='email' class='field-input'>
      <span class='field-error'>Por favor, ingresá un correo eléctronico valido</span>
    </div>
  </div>
  <div class='btn-content btn-to-right'>
    <button class='btn btn-option-list' (click)='onSubmit()'>
      Enviar
    </button>
  </div>
</div>
