$white: #FFFFFF;
$gray-light: #F9FAFB;
$gray: #89837F;
$gray-darker: #5D5750;
$almost-black: #252220;

$gray-elem-disabled: #a8a4a2;

$blue: #106EB0;
$blue-lighter: #2886c8;
$orange: #EC7000;
$orange-lighter: #e98f3e;
$red: #b90707;
$red-lighter: #d11f1f;
