.grid-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  &.center {
    justify-content: center;
  }

  > [class*='-content'] {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}
