@import '../../../assets/css/sizes';
@import '../../../assets/css/button';
@import '../../../assets/css/mixin';

$size-button: 160px;

@include wizard-field-content();

.option-list-content {
  app-option + app-option {
    margin-top: $size-20;
    display: block;
  }

  .btn-option-list {
    @include button-styles(orange);
    width: $size-button;
  }
}
