/* You can add global styles to this file, and also import other style files */

// Normalize CSS
@import '../node_modules/normalize.css/normalize.css';

// Importing grid
@import 'assets/css/grid';
@import 'assets/css/colors';

// Importing Roboto Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: $gray-light;
  font-family: 'Roboto', sans-serif;
  color: $almost-black;
}



